@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@400;500;600;700&display=swap");
@import "./normalize.less";
@import "modal";
@import "flexbox";
@import "helpclass";
@import "../../node_modules/swiper/swiper";
@import '../../node_modules/swiper/modules/navigation/navigation';
@import '../../node_modules/swiper/modules/pagination/pagination';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: black;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

h2 {
  font-weight: 600;
  font-size: 35px;
  line-height: 28px;
  text-align: center;
  color: #424242;
}

.wrapper {
  .df;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  .fc;
}

.trigger-block {
  padding: 45px 40px 50px;
  background: #FFFFFF;
  box-shadow: -2px 2px 20px rgba(66, 66, 66, 0.15);
  border-radius: 4px;
  .df;
  .vc;
  .jb;

  .item {
    .center;
    width: 195px;

    .t1 {
      font-weight: bold;
      font-size: 45px;
      color: #55A630;
      margin-bottom: 6px;
    }

    .t2 {
      font-size: 23px;
      line-height: 28px;
      color: #424242;
    }
  }
}

.slider-wrap-block {
  position: relative;
}

.btn-navigation {
  .sw-btn {
    position: absolute;
    top: 38%;

    &.btn-prev {
      left: -30px;
    }

    &.btn-next {
      right: -30px;
    }
  }
}

.card-rainbow-slider {
  overflow: hidden;
}

.lesson-card {
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
  width: 360px;
  position: relative;

  &.purple {

    .t2 {
      color: #4340B4;
    }

    .t3 {
      background: #4340B4;
    }

    .t5 {
      .tt1 {
        border-left: 2px solid #5351C4;
      }
    }

    button {
      background: #4340B4;
    }

    a {
      color: #4340B4;
      background: rgba(83, 81, 196, 0.1);
    }
  }

  &.green {

    .t2 {
      color: #55A630;
    }

    .t3 {
      background: #55A630;
    }

    .t5 {
      .tt1 {
        border-left: 2px solid #55A630;
      }
    }

    button {
      background: #55A630;
    }

    a {
      color: #55A630;
      background: #ECF9EB;
    }
  }

  &.blue {

    .t2 {
      color: #1D8195;
    }

    .t3 {
      background: #00A896;
    }

    .t5 {
      .tt1 {
        border-left: 2px solid #00A896;
      }
    }

    button {
      background: #00A896;
    }

    a {
      color: #00A896;
      background: rgba(0, 168, 150, 0.1);
    }
  }

  &:before {
    content: url('@img/bird.svg');
    position: absolute;
    right: 14px;
    top: 16px;
  }

  .card {

    .t1 {
      font-weight: 600;
      font-size: 18px;
      color: #424242;
      opacity: 0.8;
      padding: 0 12px 0 23px;
      margin-top: 20px;
    }

    .t2 {
      font-weight: 600;
      font-size: 30px;
      line-height: 100%;
      letter-spacing: -0.4px;
      padding: 0 12px 0 23px;
      margin: 14px 0 23px;
    }

    .t3 {
      font-weight: 600;
      font-size: 20px;
      line-height: 20px;
      color: #FFFFFF;
      opacity: 0.8;
      width: 166px;
      height: 39px;
      .dfc;
      border-radius: 9px;
      margin-left: 23px;
    }

    .t4 {
      font-weight: 600;
      font-size: 20px;
      color: #424242;
      opacity: 0.8;
      padding: 0 12px 0 23px;
      margin-top: 21px;
    }

    .t5 {
      padding: 0 13px 0px 20px;
      .df;
      .jb;
      align-items: flex-end;

      .tt1 {
        font-size: 15px;
        line-height: 24px;
        color: #424242;
        opacity: 0.8;
        width: 158px;
        padding-left: 9px;
        margin-bottom: 10px;
      }

      img {
        margin: 0;
        position: relative;
        right: -5px;
      }
    }

    .t6 {
      font-size: 18px;
      line-height: 20px;
      color: #424242;
      opacity: 0.8;
      padding: 0 16px;
      margin: 55px 0 19px;
    }

    button {
      height: 56px;
      width: 100%;
      .dfc;
      font-weight: 600;
      font-size: 20px;
      color: #FFFFFF;
    }

    a {
      height: 56px;
      width: 100%;
      .dfc;
      font-weight: 600;
      font-size: 20px;
    }
  }
}

.sl-pg {
  margin-top: 75px;
  .df;
  .jc;
  gap: 9px;

  span {
    width: 15px;
    height: 15px;
    .r50;

    &.swiper-pagination-bullet {
      background: #B7ECB1;
      opacity: 1;
    }

    &.swiper-pagination-bullet-active {
      background: #55A630;
    }
  }
}

header {
  background: #FFFFFF;

  .line1 {
    padding: 11px 0 12px;
    border-bottom: 1px solid rgba(85, 166, 48, 0.5);

    .block {
      .df;
      .vc;

      .logo {
        .df;
        .vc;

        img {
          width: 61px;
          height: 61px;
        }

        span {
          color: #1C1E23;
          font-size: 11px;
          margin-left: 11px;
        }
      }

      .tel {
        .df;
        .vc;
        margin-left: auto;

        &:before {
          content: url('@img/phone.svg');
          margin-right: 22px;
          position: relative;
          top: 3px;
        }

        font-weight: 500;
        font-size: 25px;
        color: #424242;
      }

      .soc {
        .df;
        .vc;
        margin: 0 66px 0 79px;

        a {
          &:not(:last-child) {
            margin-right: 26px;
          }
        }
      }

      .lang {
        .current-lang {
          .df;
          .vc;

          .lang-icon {
            width: 41px;
          }

          .arr {
            margin-left: 14px;
          }

        }
      }
    }

  }

  .line2 {
    nav {
      ul {
        .df;
        .jb;
        .vc;
        padding: 22px 0 21px;

        li {
          a {
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: #424242;
          }
        }
      }
    }
  }
}

footer {
  background: #424242;

  .block {
    .df;
    .jb;

    .map {
      width: 52%;
      position: relative;

      iframe {
        width: 100%;
        height: 100%;
      }
    }

    .contact {
      width: 48%;
      padding: 37px 72px;

      .logo {
        display: block;
        margin-bottom: 50px;

        img {
          width: 98px;
          height: 98px;
          margin: 0;
        }
      }

      .tel {
        font-weight: 700;
        font-size: 30px;
        color: #FFFFFF;
      }

      .address {
        font-weight: 500;
        font-size: 25px;
        color: #FFFFFF;
        margin: 18px 0 77px;
      }

      .menu {

        ul {
          width: 480px;
          columns: 2;

          li {
            margin-bottom: 22px;

            a {
              font-weight: 500;
              font-size: 18px;
              color: #FFFFFF;
              opacity: 0.8;
            }
          }
        }
      }

      .social {
        margin: 77px 0 50px;
        a {
          margin-right: 39px;
        }
      }

      .politic {
        font-size: 18px;
        color: #FFFFFF;
        opacity: 0.8;
      }
    }
  }
}

.sec1 {
  background: #ECFFEB;

  .block {
    position: relative;
    padding: 70px 0 136px;

    .text-block {
      position: relative;

      .t1 {
        font-weight: 600;
        font-size: 20px;
        color: #424242;
      }

      .t2 {
        font-weight: 700;
        font-size: 65px;
        line-height: 65px;
        color: #55A630;
        width: 500px;
        position: relative;
        left: -5px;
        padding-top: 10px;
      }

      .t3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: #424242;
        margin: 20px 0 57px;
        width: 419px;
      }

      .t4 {
        .df;

        .btn {
          height: 66px;
          width: 285px;
          .dfc;
          font-weight: 600;
          font-size: 18px;
          border: 1px solid #55A630;


          &.bg-green {
            background: #55A630;
            color: #FFFFFF;
            margin-right: 20px;
          }

          &.bg-transprnt {
            color: #55A630;
          }
        }
      }
    }

    img {
      position: absolute;
      bottom: 0;
      right: -24px;
    }
  }
}

.sec2 {
  padding-bottom: 177px;
  background-image: url('@img/sec2bg.svg');
  background-repeat: no-repeat;
  background-position: right top;

  .trigger-block {
    margin-top: -23px;
    margin-bottom: 175px;
  }

  .card-rainbow-slider {
    margin-top: 77px;
  }
}

.sec3 {
  padding-bottom: 100px;

  .block {
    .df;
    .jb;

    .img-block {
      width: 590px;
      height: 666px;
      flex-shrink: 0;
      .ibg;
    }

    .txt-block {
      padding-left: 121px;

      .t1 {
        font-weight: 500;
        font-size: 25px;
        line-height: 28px;
        color: #858585;
      }

      .t2 {
        font-weight: 700;
        font-size: 35px;
        line-height: 107%;
        letter-spacing: -0.4px;
        margin: 30px 0 75px;

        span {
          display: block;
          color: #55A630;
        }
      }

      .t3 {
        font-weight: 500;
        font-size: 25px;
        line-height: 28px;
        color: #424242;
        margin-bottom: 60px;
        padding-right: 30px;

        p {
          margin-bottom: 20px;
        }
      }

      a {
        .df;
        .vc;
        .je;
        font-weight: 500;
        font-size: 25px;
        line-height: 28px;
        color: #55A630;
        text-align: right;

        img {
          margin-left: 48px;
          margin-right: 0;
        }
      }
    }
  }
}

.desc {
  font-weight: 500;
  font-size: 25px;
  line-height: 26px;
  text-align: center;
  color: #424242;
  margin-top: 30px;
}

.sec4 {
  padding-top: 78px;
  padding-bottom: 100px;

  .block {
    margin-top: 86px;
    .df;
    .fw;
    .jb;

    .item {
      width: 364px;
      height: 260px;
      padding: 35px 28px 30px;
      margin-top: 55px;
      .ibg;

      &:hover {
        .twrap {
          justify-content: space-between;



          .t2 {
            display: block;
          }
        }

        &:first-child,
        &:nth-child(2) {

          .t1 {

            &:after {
              content: url('@img/long-arr-w.svg');
              position: absolute;
              left: 100%;
              bottom: 0;
            }
          }
        }
      }

      &:before {
        background: rgba(35, 35, 35, 0.8);
        opacity: 0.6;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
      }

      &:first-child,
      &:nth-child(2) {
        width: 570px;
        margin-top: 0;
      }

      .twrap {
        position: relative;
        z-index: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .anim;

        .t1 {
          font-weight: 600;
          width: 327px;
          font-size: 32px;
          line-height: 38px;
          text-transform: uppercase;
          color: #FFFFFF;
          position: relative;
        }

        .t2 {
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          color: #FFFFFF;
          display: none;
        }
      }
    }
  }
}

.sec5 {
  padding-top: 78px;
  padding-bottom: 100px;

  .block {
    .df;
    .jb;

    .txt-block {
      padding-right: 70px;

      .t1 {
        font-weight: 700;
        font-size: 40px;
        letter-spacing: -0.4px;
        color: #55A630;
      }

      .t2 {
        margin: 75px 0 70px;
        font-weight: 500;
        font-size: 25px;
        line-height: 31px;
        color: #424242;
        opacity: 0.8;

        p {
          margin-bottom: 30px;
        }
      }

      button {
        width: 385px;
        height: 75px;
        .dfc;
        background: #55A630;
        font-weight: 600;
        font-size: 23px;
        color: #FFFFFF;
      }
    }

    .img-block {
      flex-shrink: 0;
      .ibg;
      width: 498px;
      height: 459px;
    }
  }
}

.master-class-slider {
  overflow-x: hidden;

  .btn-navigation .sw-btn {
    top: 53%;
  }

  .swiper-slide {
    width: 520px;
    height: 453px;
    border-color: white;

    filter: drop-shadow(0px 2px 20px rgba(66, 66, 66, 0.15));

    .mc-wrapper {
      height: 100%;
      .df;
      .fc;

      .img-block {
        height: 223px;
        .ibg;
      }

      .txt-block {
        flex-grow: 1;
        .df;
        .jb;

        .lb {
          padding: 15px 65px 25px 29px;
          .df;
          .fc;

          .t1 {
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            font-size: 16px;
            color: #424242;
            opacity: 0.8;
            .dfc;
          }

          .t2 {
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            color: #424242;
            margin-top: 10px;
          }

          .t3 {
            margin-top: auto;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            color: #424242;
            opacity: 0.8;
          }
        }

        .rb {
          width: 153px;
          flex-shrink: 0;
          .df;
          .fc;

          .t1 {
            background: #ECF9EB;
            font-weight: 600;
            font-size: 20px;
            color: #424242;
            .dfc;
            flex-grow: 1;
          }

          a {
            background: #55A630;
            height: 98px;
            .dfc;

          }
        }
      }
    }
  }
}

.sec6 {
  padding-top: 78px;
  padding-bottom: 100px;

  .master-class-slider {
    margin-top: 86px;
  }
}

.sec7 {
  padding-top: 75px;
  padding-bottom: 100px;

  .block {
    margin-top: 82px;
    .df;
    .jb;
    .fw;

    .item {
      width: 380px;
      min-height: 315px;
      padding: 40px 30px;
      background: #FFFFFF;
      box-shadow: 0px 3px 20px rgba(66, 66, 66, 0.15);
      position: relative;

      &:nth-child(even) {
        background: #B7ECB1;

        .t3 {
          bottom: inherit;
          top: -21px;
        }
      }

      .t1 {
        font-weight: 600;
        font-size: 25px;
        line-height: 26px;
        color: #424242;
        min-height: 54px;
      }

      .t2 {
        font-size: 20px;
        line-height: 23px;
        color: #1C1E23;
        opacity: 0.8;
        margin-top: 5px;
      }

      .t3 {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 180px;
        line-height: 1;
        color: rgba(85, 166, 48, 0.25);
        position: absolute;
        right: 29px;
        bottom: 7px;
      }
    }
  }
}

.sec8 {
  padding-top: 60px;
  padding-bottom: 100px;

  .sale-slider {
    margin-top: 80px;

    .btn-navigation .sw-btn {
      position: absolute;
      top: 50%;
    }
  }
}

.sale-slider {
  overflow-x: hidden;
}

.sec9 {
  margin-bottom: 75px;
  padding-top: 75px;
  padding-bottom: 100px;

  .form {
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(66, 66, 66, 0.15);
    padding: 75px 0;

    .t1 {
      font-weight: 600;
      font-size: 30px;
      line-height: 28px;
      text-align: center;
      color: #55A630;
      margin-bottom: 26px;
    }

    .t2 {
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #424242;
    }

    form {
      margin: 60px auto 0;
      width: 426px;

      .inpb {
        margin-bottom: 15px;

        input {
          width: 100%;
          height: 60px;
          border: 1px solid #55A630;
          padding: 0 34px;
          font-size: 14px;
          line-height: 60px;
          color: #9C9C9C;
        }
      }

      button {
        margin-top: 30px;
        background: #55A630;
        width: 100%;
        height: 71px;
        font-weight: 600;
        font-size: 23px;
        line-height: 16px;
        color: #FFFFFF;
        .dfc;

      }

    }
  }
}

@import "adaptive";